:root {
    --color-dark: rgb(14, 14, 14);
    --color-dark2: rgb(32, 32, 32);
    --color-dark3: rgb(22, 22, 22);
    --color-white: #fff;
    --color-green: rgb(103, 195, 80);
    --color-green2: rgb(51, 149, 26);
    --color-red: rgb(184, 40, 35);
    --color-red2: rgb(146, 22, 17);
}
body {
    font-family: 'Poetsen One';
    background-color: var(--color-dark);
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
h1 {
    color: tan;
    text-align: center;
}
.spaceforcalc {
    margin-top: 50px;
}
#messagesave, #empty, #vazio, #excluir {
    margin-top: 50px;
}
#calc5 {
    border: 1px solid white;
}
#store {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#history {
    color: yellowgreen;
    padding-top: 10px;
    text-align: center;
    position: relative;
}
#history::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 5px;
    background: yellow;
    left: 0;
    bottom: -15px;
}
.taghr {
    background-color: yellow;
    height: 5px;
    width: 100%;
}
#tabela {
    max-height: 200px;
    overflow-x: scroll;
    scrollbar-width: none;
}
#storage tr {
    word-break: break-word;
    gap: 1rem;
    position: relative;
}
#storage tr::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 5px;
    background: yellowgreen;
    left: 0;
    bottom: -21px;
}
#storage td {
    color: chartreuse;
    border-bottom: 1px solid blue;
    border-top: 1px solid blue;
    padding: 5px 10px 5px 10px;
    background-color: black;
}
#botao_trash {
    border-left: 1px solid blue;
}
#btn-trash {
    font-size: 1.5rem;
    color: var(--color-dark);
    background-color: grey;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: .4s;
    margin: 5px 0px;
}
#btn-trash:hover {
    background-color: rgb(146, 22, 17);
}