
/* index.html */

:root {
    --color-dark: rgb(14, 14, 14);
    --color-dark2: rgb(32, 32, 32);
    --color-dark3: rgb(22, 22, 22);
    --color-white: #fff;
    --color-green: rgb(103, 195, 80);
    --color-green2: rgb(51, 149, 26);
    --color-red: rgb(184, 40, 35);
    --color-red2: rgb(146, 22, 17);
}
body {
    font-family: 'Poetsen One';
    font-family: 'Poiret One';
    font-family: 'Lora';
    background-color: var(--color-dark);
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-bottom: 50px;
}
#resultado { cursor: grabbing; width: 85%; }
h1 {
    color: tan;
    text-align: center;
    word-break: break-word;
    padding: 10px 10px 0px 10px;
}
#calc5 {
    border: 1px solid white;
}
#store {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#history {
    color: yellowgreen;
    padding-top: 10px;
    text-align: center;
    position: relative;
    word-break: break-word;
}
#history::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 5px;
    background: yellow;
    left: 0;
    bottom: -15px;
}
.taghr {
    background-color: yellow;
    height: 5px;
    width: 100%;
}
#tabela {
    max-height: 200px;
    overflow-x: scroll;
    scrollbar-width: none;
}
#storage tr {
    word-break: break-word;
    gap: 1rem;
    position: relative;
}
#storage tr::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 5px;
    background: yellowgreen;
    left: 0;
    bottom: -21px;
}
#storage td {
    color: chartreuse;
    border-bottom: 1px solid blue;
    border-top: 1px solid blue;
    padding: 5px 10px;
    background-color: black;
    vertical-align: middle;
}
#botao_trash {
    border-left: 1px solid blue;
    width: 15%;
    vertical-align: middle;
    text-align: center;
}
#btn-trash {
    font-size: 1rem;
    color: var(--color-dark);
    background-color: grey;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .4s;
    margin-left: 5px;
    margin-right: 3px;
}
@media screen and (min-width: 940px) and (max-width: 991px) {
    #btn-trash
    { margin-left: 10px;
    }
}
@media screen and (min-width: 800px) and (max-width: 939px) {
    #btn-trash {
    margin-left: 5px; margin-right: 2px; }
}
#btn-trash:hover {
    background-color: rgb(146, 22, 17);
}

#botao-dicas {
    text-decoration: none;
    color: var(--color-dark);
    background: gray;
    text-align: center;
    padding: 5px 0px;
    border: var(--color-dark) 1px solid;
}

/* dicas.html */

#span-topo {
    color: var(--color-dark);
    text-align: center;
    text-decoration: none;
    padding: 10px 0px;
    position: relative;
    background: gray;
    height: 30px;
}
#span-topo::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 5px;
    background: blue;
    left: 0;
    bottom: -15px;
}
#dicas-conteiner {
    max-height: 450px;
    overflow-x: scroll;
    scrollbar-width: none;
}